@font-face {
  font-family: 'Sticks';
  src: url('FreshSaladDemo-zrlgX.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background: lightyellow;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  height: 100vh;      
}

main {
  max-width: 610px;
  margin: auto;
}

h1{
  font-family: 'sticks', sans-serif;
  font-size: 5em;
  text-align: center;
  color: rgb(255, 197, 115);
}

.win {
  color: white;
  background-color: green;
}

.loss {
  color: white;
  background-color: red;
}

#word {
  letter-spacing: 10px;
  text-align: center;
  font-size: 24pt;
  color: rgb(255, 197, 115);
  font-weight: bold;
  font-family: 'sticks', sans-serif;
  /* font-family: "Courier New", Courier, monospace; */
}

#guesses {
  text-align: center;
  font-size: 30pt;
  color: rgb(255, 197, 115);
  font-weight: bold;
  font-family: 'sticks', sans-serif;
  /* font-family: "Courier New", Courier, monospace; */
}

.guess {
  padding: 10px;
  display: inline-block;
  border: 2px solid rgb(255, 197, 115);
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
}

@media only screen and (min-device-width: 375px ) and (max-device-width: 667px) {
    #guesses {
    text-align: center;
    font-size: 24pt;
    color: rgb(255, 197, 115);
    font-weight: bold;
    font-family: 'sticks', sans-serif;
  }

  .guess {
    padding: 30px;
    display: inline-block;
    border: 2px solid rgb(255, 197, 115);
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
  }
}

#guessBox {
    height: 60px;
    border-radius: 10px;
    padding-top: 5px;
    font-size: 18pt;
    width: 200px;
    padding-left: 10px;
}

/* Buttons */
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 60px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #666;
  background-color: rgb(255, 197, 115);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-family: 'sticks', sans-serif;
}

.button:hover {background-color: rgb(224, 224, 139)}

.button:active {
  background-color: rgb(224, 224, 139);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}